#logo img {
    width: 50px;
    height: auto;
    margin: 0 auto;
    display: block;
}
nav ul {
    display: table;
    padding: 0;
    margin: 0 auto;
}
nav li {
    display: inline-block;
    padding: 5px 10px;
}
nav a {
    text-decoration: none;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 2s
 }
 .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
 }
 main{
     min-height: calc(100vh - 230px);
 }
 .navigation-languages {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
}
.navigation-languages .current-lang {
    display: block;
    text-align: center;
    padding: 2px 0;
}
.language-menu {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.navigation-languages:hover .language-menu {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}
.language-menu li {
    display: block;
    padding-left:0;
}
.current-lang .title {
    margin-right: 7px;
}
.current-lang .raquo {
    transform: rotate(90deg);
    display: inline-block;
    transition: all 0.5s ease;
}
.navigation-languages:hover .current-lang .raquo {
    transform: rotate(-90deg);
}
.single-page figure {
    float: left;
    max-width: 300px;
}
.archive-post article {
    max-width: 23%;
    float: left;
    margin: 1%;
    max-height: 240px;
    overflow-y: hidden;
}
.archive-post figure {
    float: left;
    margin: 10px;
}
.archive-post h1 {
    font-size: 1.2em;
}
